[Desktop Entry]
Type=Application
Name={{name}}
GenericName=Signal console
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}}
Icon={{icon}}
Terminal=false
Categories={{categories}}
Keywords=bridge;miami;marine;ais;weather;epaper;e-paper;esp32;heltec;notifications;
StartupNotify=true
StartupWMClass={{exec}}
X-GNOME-UsesNotifications=true
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
